pyparsing==2.0.2
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
yapf
Pillow==7.1.1
numpy
pandas
matplotlib
seaborn
dill
pylint
python-language-server
flake8
autopep8
ipykernel
scikit-learn
tqdm
pyspark==3.2.0
geni-lib
rpyc
pyzmq